<!-- CUSTOM DIRECTIVE -->
<!-- <div  appHighlights [highlightColor]="'red'" [Name]="'ichrak'">
  Hover over me to see the effect!
</div> -->


<!-- ROUTING -->
<!-- <h1>Angular Routing </h1>
<nav>
  <a class="button" routerLink="page1" routerLinkActive="activebutton">Page1</a>
  <a class="button" routerLink="/page2" routerLinkActive="activebutton">Page2</a>
  <a class="button" routerLink="/page3" routerLinkActive="activebutton">Page3</a>
  <a class="button" routerLink="NotFound">NotFound</a>
</nav>
<router-outlet></router-outlet>

 -->
<!-- SIGNALS -->
<!-- <app-counter></app-counter> -->

<!-- RXJS -->
<app-data-list></app-data-list>